html {
    box-sizing: border-box;
}

/* 
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
} */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    /* margin-bottom: 5px; */
}

header a {
    color: #000;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    margin-left: 10px;
    padding: 5px 3px;
}

.submit {
    margin-top: 15px;
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

table thead tr {
    background-color: #3d3d3d;
    color: #eee;
    text-align: left;
}

td,
th {
    padding: 10px;
}